    <!-- About Section -->
    <section id="Sobre mim" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Me conheça mais um pouco...</h2>
                <p>Meu nome completo é Lívia de Carvalho Faria, tenho 19 anos e ainda moro com meus pais. Faço licenciatura em matemática na UFV de Florestal e eu amo meu curso.</p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </section>
