    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Meus catioros</h2>
                    <p>Tenho dois cachorros da raça Border Collie: Half/Halfiano/Seu lindo é um macho de dois anos, de pelagem branca e caramelo que adora dar abraços e fazer hora com a cara da Brisa/Abduzida/Bi, minha cadela. A Brisa tem pelagem preta e branca, adora comer um pão, é medrosa e super obediente. Os dois amam brincar com a bolinha, com graveto, com garrafa ou qualquer coisa que estiver pela frente. Eu sou apaixonada por eles! </p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
